<template name="about">
	<div class="container">
		<div class="well">

		
		<h1>About CreativeCompoz</h1>

			<p><a href="{{pathFor route='home'}}">CreativeCompoz</a> is an application for creative people who are looking for an 
			opportunity to collaboratively create creative content in real-time. </p>

			<h3>Are you a songwriter or do you like to write poems?</h3>
			<p>And are you working in teams to develop contents for your writings? Then you are welcomed on <a href="{{pathFor route='start'}}">CreativeCompoz</a> to find your best tool for collaborative wrting - in real-time!</p>
			<h3>Real-time? What does it mean?</h3>
			<p><a href="{{pathFor route='start'}}">CreativeCompoz</a> was designed in a collaborative way - to edit texts in real-time - which means that your colleague in China will see what you are editing in your document in real-time, watching your fingertips! At the same time, he will be able to edit the same document in the browser while you are watching. Any of your team members will be doing so - like this you are creating real-time collaborative content. </p>
		</div><!-- /well-->
	</div><!--/container -->

</template>