<template name="home">
	<h2>CreativeCompoz - creative writing for creative people - in real time</h2>

	<div class ="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<p>I want to ... </p>
			</div>
		</div> <!-- / row-->
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<a href="{{pathFor route='tryout'}}">Try the plattform</a>
			</div>
			<div class="col-md-6 col-xs-6">
				<a href="{{pathFor route='register'}}">Create my own projects</a>
			</div>
		</div><!-- /row2-->
	</div><!-- /container -->
	
</template>
