<template name="home">
<h1 align="center">WELCOME - DASHBOARD</h1>
<hr>
	<div class ="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<!-- refer to myproject.html here-->
				{{> myprojects}}
				<!-- I want to test the audio-->
				{{> audiotest}}
			</div>
		</div><!-- / row-->
		<hr>



		<div class="row">
	
			<div class="col-md-offset-1 col-md-4 col-xs-12 feature-left">
				<span class="glyphicon glyphicon-new-window"></span>
				<h2>I WANT TO </h2>
				<p><a href="{{pathFor route='newproject'}}"><h3>Create a new project</h3></a></p>
				<P>Create a new project and invite your friends to join you. Give it a creative category. </P>
			</div><!-- /panel -->
			
			<div class="col-md-offset-1 col-md-4 col-xs-12 feature-right">
				<span class="glyphicon glyphicon-search"></span>
				<h2>I WANT TO</h2>
				<p><a href="{{pathFor route='searchproject'}}"><h3>Join a project I like</h3></a></p>
				<P>Search among all existing project and join it! </P>
			</div>
		</div><!-- /row2-->
	</div><!-- /container -->

</template>