<template name="projectPage">
	<h1 align = "center">PROJECT WORK AREA</h1>
	<!-- HERE: AN EDITABLE PROJECT TITLE-->
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<p><a href="{{pathFor route='newproject'}}"><span class="glyphicon glyphicon-plus"></span><h2> Create another project.</h2></a></p>
		</div>
		<div class="col-md-6 col-xs-12">
			{{> projectList}}
		</div>
	</div><!-- /row1 -->
	<!-- <div class="row">
		<h3>Placeholder EditingUsers</h3>

	</div> /row2 -->

	<!-- <div class="row">
		<div class="col-md-12 col-xs-12">
			{{> lastActivities}}
		</div>
	</div>/row3-->
	
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h3>Your Project Name:</h3>
			<input type="text" value="{{pname}}" name="currentProject">
		</div>
	</div><!-- /row4-->
	<hr>
	<div class="row">
			<div class="col-md-12 col-xs-12">
				<!-- show the list of all documents that belong to the project first
				Then show the editor after one document has been clicked on
				this requires a {{yield "editDocs"}}
				in routes.js: this.render "documents to "editDocs"
							this.render "editor to "editDocs" -->
				<!-- Create a new document with a modal -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create a new document</button>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h2 class="modal-title">CREATE A NEW DOCUMENT</h2>
				      </div>
				      <div class="modal-body">
				        <h4>Enter your document properties here.</h4>
				        <form class="login form-horizontal" role="form">
							<div class="form-group">
								<label for="documentTitle" class="control-label col-sm-4">Document title: </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="documentTitle" required>
								</div><!-- /col-sm-10-->
							</div><!-- /form group-->
							
							<div class="form-group">
								<label for="documentCategory" class="control-label col-sm-4">Category: </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="documentCategory" required>
								</div><!-- /col-sm-10-->
							</div><!-- /form group-->

							<div class="form-group">
								<label for="documentAbout" class="control-label col-sm-4">About the document: </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="documentAbout" required>
								</div><!-- /col-sm-10-->
							</div><!-- /form group -->
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default js-newDoc" data-dismiss="modal">Submit</button>
				      </div>
				    </div>

				  </div><!--/modal-dialog-->
				</div><!--/modal-->
				<br>
				<hr>
				<!-- now show all available docs for this project in a panel with table-->
				<div class="panel panel-default">
				  <div class="panel-heading">Here are your project's documents</div>
				  <div class="panel-body">
				  	<table class="table">
				  		<thead>
							<tr>
								<th>Document Title</th>
								<th>About this document</th>
								<th>Category</th>
								<th>Created At</th>
								<th>Delete?</th>
								<!-- later editingusers must be added-->
							</tr>	
						</thead>
						<tbody>
							{{#each document}}
							<tr>
								<td><a href="/document/{{_id}}">{{docTitle}}</a></td>
								<td>{{docAbout}}</td>
								<td>{{docCategory}}</td>
								<td>{{createdAt}}</td>
								<td> [<a href="#" class="js-delete-document">Delete</a>]</td>
							
							</tr>
							{{/each}}
						</tbody>

				  	</table>

				  </div><!--/panel-body-->
				</div><!--/end of panel-->
				{{> yield "editor"}}
			</div>			
			
	
	</div> <!-- /row -->

</template>
<!-- 


<template name="todoItem">
	<li class="{{checked}}">
		<input type="checkbox" {{checked}}>
		<input type="text" value="{{name}}" name="todoItem"> [<a href="#" class="js-delete-todo">Delete</a>]
	</li>

</template> -->