<template name="start">
	
		<div class="jumbotron white">
			  <h1 class="white">CreativeCompoz
			  </h1> 
			  <p>collaborative creative writing for creative people - in real time. </p> 
		</div><!--/jumbotron-->
		<div class="container">
			  <p>This is some text.</p> 
			  <p>This is another text.</p> 
		</div> 

	<div class ="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-4 col-xs-12 feature-left">
				<span class="glyphicon glyphicon-edit"></span>
				<h2>I WANT TO </h2>
				<p><a href="{{pathFor route='tryout'}}"><h3>Try the plattform</h3></a></p>
				<P>Try the collaborative features of <a href="{{pathFor route='start'}}">CreativeCompoz</a> in a sandbox.</P>
			</div><!-- /panel -->
			
			<div class="col-md-offset-1 col-md-4 col-xs-12 feature-right">
				<span class="glyphicon glyphicon-plus-sign"></span>
				<h2>I WANT TO</h2>
				<p><a href="{{pathFor route='register'}}"><h3>Create my own projects</h3></a></p>
				<P>Register for free and get your own creative projects going. </P>
			</div>
		</div><!-- /row2-->
	</div><!-- /container -->
	
</template>
